.header {
  width: 100%;
  margin: 0;
  background: var(--bg-premium);
}

.container {
  width: 95.83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}

.nav {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--color-black);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: var(--font-open-sans-semibold);
  position: relative;
  transition: color 0.2s;
}

.link:hover,
.link:focus {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  .container {
    min-height: 56px;
  }
  .nav {
    display: none;
  }
}

