:root {
  --font-play-light: 'Playfair-light', serif, sans-serif;
  --font-play-regular: 'Playfair-regular', serif, sans-serif;
  --font-play-medium: 'Playfair-medium', serif, sans-serif;
  --font-play-bold: 'Playfair-bold', serif, sans-serif;
  --font-lato-light: 'Lato-light', serif, sans-serif;
  --font-lato-regular: 'Lato-regular', serif, sans-serif;
  --font-lato-medium: 'Lato-medium', serif, sans-serif;
  --font-lato-bold: 'Lato-bold', serif, sans-serif;
  --color-background: #000;
  --color-text: #fff;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}