.section {
  width: 100%;
  background-color: var(--bg-prime);
  margin: 0;
  overflow: hidden;
  padding: 100px 0 150px;
}

.container {
  max-width: 448px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 45px;
  padding: 32px;
  border-radius: 20px;
  background-color: var(--bg-premium);
}

.heading {
  font-size: 24px;
  font-family: var(--font-cera-pro-medium);
  color: #1a202c;
  margin: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
  font-size: 16px;
  font-family: var(--font-sf-pro-light);
}

.checkboxLabel {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1.5px solid #b4916e;
  accent-color: #b4916e;
  margin-right: 8px;
}

.input {
  width: 100%;
  padding: 16px 16px;
  border: 1px solid #d1c3b2;
  padding: 12px;
  border-radius: .5rem;
  background: #f3e9df;
  font-size: 16px;
  color: #3d2c1e;
  transition: box-shadow 0.2s, border 0.2s;
}

.input:focus {
  outline: none;
  border-color: #b4916e;
  box-shadow: 0 0 0 2px #b4916e33;
}

.selectedServices {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.serviceCard {
  display: flex;
  align-items: center;
  background: #f3e9df;
  border: 1px solid #d1c3b2;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  font-size: 13px;
  color: #3d2c1e;
  box-shadow: 0 2px 6px #0001;
  transition: box-shadow 0.2s;
}
.serviceCard:hover {
  box-shadow: 0 4px 12px #0002;
}

.serviceName {
  font-size: 16px;
  margin: 0;
  font-family: var(--font-sf-pro-light);
}

.removeServiceBtn {
  background: none;
  border: none;
  color: #b4916e;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.removeServiceBtn:hover {
  background: #f3e7db;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 12px 35px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--bg-prime);
  transition: all .3s ease;
}

.button:hover {
  background-color: var(--bg-prime);
  color: var(--color-white);
}