.section {
  width: 100%;
  margin: 0;
  background-color: rgb(167, 188, 184);
}

.container {
  padding: 107px 0 116px;
  width: 83.67%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
  margin: 0;
}

