.card {
  background-color: rgb(255, 251, 242);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
}

.gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.imageWrapper {
  margin: 0;
  position: relative;
}

.image {
  z-index: 0;
  max-height: 273px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.genderInfo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 8px;
}

.genderIcon {
  display: block;
}

.genderText {
  font-size: 16px;
  font-family: var(--font-cera-pro-medium);
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.heading {
  font-size: 18px;
  font-family: var(--font-roboto-regular);
  line-height: 26px;
  margin: 0;
}

.price {
  font-size: 14px;
  font-family: var(--font-sf-pro-light);
  line-height: 20px;
  letter-spacing: 0.25px;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 8px;
  width: 100%;
}

.button {
  margin: 0;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 15px;
  cursor: pointer;
}

.buttonLeft {
  background-color: var(--bg-prime);
  border: none;
  color: var(--color-white);
  transition: opacity .3s ease;
}

.buttonLeft:hover {
  opacity: .7;
}

.buttonRight {
  background-color: transparent;
  border: 1px solid var(--bg-prime);
  transition: all .3s ease;
}

.buttonRight:hover {
  background-color: var(--bg-prime);
  color: var(--color-white);
}

@media screen and (max-width: 767px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 489px) {
  .buttons {
    flex-direction: column;
  }
}