.title {
  font-size: 36px;
  font-family: var(--font-open-sans-semibold);
  margin: 0;
  line-height: 150%;
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
    line-height: 32px;
  }
}