.title {
  letter-spacing: -0.015em;
  font-size: 1.875rem;
  font-family: var(--font-open-sans-semibold);
  margin: 0;
  line-height: 75px;
  letter-spacing: -0.04rem;
  color: var(--color-black);
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
    line-height: 44px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 26px;
    line-height: 32px;
  }
}