.section {
  width: 100%;
  margin: 0;
  background: var(--bg-premium);
}

.container {
  padding: 100px 20px;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.texts {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.subtitle {
  max-width: 489px;
  color: var(--color-black-outline);
  font-size: 16px;
  font-family: var(--font-roboto-regular);
  line-height: 28px;
  margin: 0;
}

.button {
  cursor: auto;
  font-family: var(--font-cera-pro-medium);
  margin: 0;
  cursor: pointer;
  padding: 12px 35px;
  text-decoration: none;
  border: 1px solid var(--bg-prime);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  margin: 0;
  transition: all .3s ease;
}

.button:hover {
  color: var(--color-white);
  background-color: var(--bg-prime);
}

.imageBlock {
  width: 50%;
  min-height: 70vh;
  position: relative;
  box-sizing: border-box;
}

.imageWrap {
  position: absolute;
  inset: 0px;
}

.image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}