.section {
  padding: 100px 0;
  width: 100%;
  background: var(--bg-premium);
}

.container {
  border: 3px solid black;
  width: 57.81%;
  padding: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.line {
  width: 160px;
  border: 1px solid black;
}

.subtitle {
  max-width: 733px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-sf-pro-light);
  color: var(--color-black);
  margin: 0;
  letter-spacing: 0.04rem;
}

.button {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 733px;
  width: 100%;
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  line-height: 20px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}
