.section {
  width: 100%;
  background-color: var(--bg-premium);
  margin: 0;
  padding: 90px 0;
}

.container {
  width: 57.81%;
  border: 3px solid black;
  padding: 0px 0px 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 81px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.titleBackground {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.block {
  background-color: var(--bg-premium);
  margin: 0;
  padding: 10px 50px;
}

.title {
  text-align: center;
  white-space: nowrap;
}

.line {
  margin-top: 50px;
  width: 160px;
  border: 1px solid black;
}

.subtitle {
  max-width: 539px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  font-family: var(--font-sf-pro-light);
  color: var(--color-black);
  text-align: center;
  margin: 0;
  letter-spacing: 0.04rem;
}

